{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

        <span class="h4">Listado de articulos</span>
        <br>

            <input type="text" class="search form-control col-4" id="search" placeholder="Codigo/Descripcion">
                    <table class="table table-striped table-hover table-bordered results table-sm estilo1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Codigo Barras</th>       
                            <th></th>                 
                        </tr>
                    </thead>
                    <tbody>                     
                        {% for art in articulos %}
                            <tr class="finder" data-id="{{ art.id }}">
                                <td>{{ art.descripcion}}</td>
                                <td>{{ art.codigoBarras }} </td>
                                <td><a href="{{ path('mant_editar_articulo', {id: art.id}) }}" class="btn btn-success btn-sm">Modificar</a></td>
                            </tr>
                        {% endfor %}
                     </tbody>
                     </table>   
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
            $('#search').keyup(function (e) {
                                  var searchTerm = $(".search").val();
                                  var searchSplit = searchTerm.replace(/ /g, "'):containsi('");
                                  
                                  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                                        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                                    }
                                  });
                                    
                                  $(".finder").not(":containsi('" + searchSplit + "')").each(function(e){
                                    $(this).hide();
                                  });
                                
                                  $(".finder:containsi('" + searchSplit + "')").each(function(e){
                                    $(this).show();
                                  });

                                  var jobCount = $('table tbody tr[visible="true"]').lenght;     
                                  console.log(jobCount);  
                                  if(jobCount){
                                        alert('uni');
                                        if(e.which == 13) {
                                                $('.results tbody tr[visible="true"]').trigger( "click" );                                      
                                              }
                                   }                          
            });  

            $('.finder').click(function(){
                                            var tr = $(this).data('id');
                                            $(".articulo").val(tr);
            }) ;
    });
    </script>

{% endblock %}

