{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<span class="h5">Diagramar Tareas</span>

	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role':'form'}})}}
		<div class="form-group row">
		    <div class=" col-md-3">
    			{{	form_label(form.fecha)	}}
    			{{	form_widget(form.fecha, {'attr':{'class' : 'form-control form-control-sm', 'size' : '5'}})}}
    			<span class="text-danger">
    				{{ form_errors(form.fecha) }}
    			</span>
			</div>
        </div>
        <div class="form-group row">
            <div class=" col-md-3">
                {{  form_label(form.responsable)  }}
                {{  form_widget(form.responsable, {'attr':{'class' : 'form-control form-control-sm'}})}}
                <span class="text-danger">
                    {{ form_errors(form.responsable) }}
                </span>
            </div>            
        </div>
		<div class="form-group row">
			<div class="col-md-2">
				{{ form_widget(form.save, {'attr':{'class' : 'btn btn-success'}})}}
			</div>
		</div>	
	 {{ form_end(form) }}
	</div>
{% endblock %}