{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

       <style type="text/css">

            .size {

                font-size: 10px;

            }

        </style>
{% endblock %}

{% block body %}
	<div class="container">
		<span class="h5">Resumen Cta Cte</span>

	{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role':'form'}})}}
			<div class="form-group row">
			    <div class="col-md-3">
	    			{{	form_label(form.proveedor)	}}
	    			{{	form_widget(form.proveedor, {'attr':{'class' : 'form-control form-control-sm'}})}}
	    			<span class="text-danger">
	    				{{ form_errors(form.proveedor) }}
	    			</span>
				</div>
			</div>
			<div class="form-group row">
			    <div class="col-md-3">
	    			{{	form_label(form.articulo)	}}
	    			{{	form_widget(form.articulo, {'attr':{'class' : 'form-control form-control-sm'}})}}
	    			<span class="text-danger">
	    				{{ form_errors(form.articulo) }}
	    			</span>
				</div>
			</div>			
			<div class="form-group row">
			    <div class="col-md-3">
	    			{{	form_widget(form.load, {'attr':{'class' : 'btn btn-success'}})}}
				</div>				
	        </div>
	 {{ form_end(form) }}

	{% if cta is defined %}
	<span class="h5">Proveedor {{cta.proveedor}}</span>
	{% set sum = 0 %}	
						<table class="table table-striped table-hover table-bordered results table-sm size">
						<thead>
							<tr>
	                            <th>Fecha</th>
	                            <th>N° Cuota</th>	
	                            <th>N° Comp</th>	
	                            <th>Interno</th>                            
	                            <th>Movimiento</th>
	                            <th>Detalle</th>
	                            <th>Debito</th>
	                            <th>Credito</th>
	                            <th>Saldo</th>     
	                            <th>Accion</th>            	                                                   
							</tr>
						</thead>
						<tbody>						
					        {% for mov in cta.movimientos %}
					        	{% set sum = sum + mov.credito - mov.debito %}
	                            <tr>
	                                <td>{{ mov.fecha | date("d/m/Y") }}</td>
	                                <td> {% if mov.numeroCuota is defined %} {{ mov.numeroCuota }} {% endif %}</td>
	                                <td> {% if mov.movimiento.numComprobante is defined %} {{ mov.movimiento.numComprobante  }} {% endif %}</td>
	                                <td> {% if mov.unidad is defined %} {{ mov.unidad }} {% endif %}</td>   
	                                <td>{% if mov.concepto is defined %} {{ mov.concepto }} {% endif %}</td>                                                             
	                                <td>{{ mov.detalle }} </td>
	                                <td align="center">
	                                	<div>
	                                	 	{{ form_start(edits[mov.id], {'attr':{'class':'update row'}}) }}
	                                	 	{{	form_widget(edits[mov.id].monto, {'attr':{'class' : 'form-control form-control-sm col-4'}}) }}
	                                	    {{	form_widget(edits[mov.id].orden, {'attr':{'class' : 'form-control form-control-sm col-2'}}) }}
	    									{{	form_widget(edits[mov.id].update, {'attr':{'class' : 'btn btn-danger btn-sm col-3 size'}}) }}
	                                		{{ form_end(edits[mov.id]) }}	
	                                	</div>
	                                </td>
	                                <td align="right">{% if cta.muestraXImporte %} $ {% else %} Lts. {% endif %}{{ mov.credito|number_format(2, '.', '') }}</td>   
	                                <td align="right">{% if cta.muestraXImporte %} $ {% else %} Lts. {% endif %}{{ sum|number_format(2, '.', '')   }}</td>
	                                <td> 
	                                		{{ form_start(forms[mov.id], {'attr':{'class':'delete'}}) }}
	    									{{	form_widget(forms[mov.id].delete, {'attr':{'class' : 'btn btn-warning btn-sm size'}}) }}
	                                		{{ form_end(forms[mov.id]) }}	                                			                                	

	                                </td>
	                            </tr>
					        {% endfor %}
					     </tbody>
					     </table>	
	{% endif %}

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script type="text/javascript">
	$(document).ready(function(){
		$('.delete').submit(function(event){
				event.preventDefault();
				var form = $(this);
				bootbox.confirm({
				    message: "Eliminar movimiento?",
				    buttons: {
				        confirm: {
				            label: 'Si',
				            className: 'btn-success'
				        },
				        cancel: {
				            label: 'No',
				            className: 'btn-danger'
				        }
				    },
				    callback: function (result) {
				        if (result){
				        	$.post(form.attr('action'), function(data){
				        				if (data.ok)
				        					form.parent().parent().remove();
				        	});
				        }
				    }
				});				
		});

		$('.update').submit(function(event){
				event.preventDefault();
				var form = $(this);
				bootbox.confirm({
				    message: "Actualizar monto movimiento?",
				    buttons: {
				        confirm: {
				            label: 'Si',
				            className: 'btn-success'
				        },
				        cancel: {
				            label: 'No',
				            className: 'btn-danger'
				        }
				    },
				    callback: function (result) {
				        if (result){
				        	$.post(form.attr('action'), form.serialize(), function(data){
				        				console.log(data);
				        				if (data.ok)
				        					alert(data.msge);
				        	});
				        }
				    }
				});				
		});		
	});
</script>
{% endblock %}